<!--
<div class="carousel">
    {% for item in items %}
    <a class="carousel-item" href=""><img src="{{item.carousel_item_image.path}}" alt="{{item.title}}"></a>
    {% endfor %}
</div>
-->


<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/food/4"></a>
</div>