<div class="carousel">
    {% for item in items %}
        {% if item.published %}
            {% if item.link is not empty %}
                <a class="carousel-item" href="{{item.link}}">
            {% else %}
                <span class="carousel-item">
            {% endif %}

                <img src="{{item.carousel_item_image.path}}" alt="{{item.title}}">
            {% if item.link is not empty %}
                </a>
            {% else %}
                </span>
            {% endif %}

        {% endif%}
    {% endfor %}
</div>